# Database Configuration

DATABASE_URL=jdbc:postgresql://ep-long-rice-a4fbipjm-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
DATABASE_USERNAME=neondb_owner
DATABASE_PASSWORD=npg_qVxl3ehtZD1d

# Backend Configuration

BACKEND_PORT=8888
MINIO_API_URL=http://minio:9000
MINIO_WEB_URL=http://minio:9001

# Minio Configuration

MINIO_PROJECT_NAME=internship-management
MINIO_USERNAME=minio_username
MINIO_PASSWORD=minio_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Javamail Configuration

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PROTOCOL=smtp