# Utilisez les credentials de votre DB externe

DATABASE_URL=jdbc:postgresql://ep-long-rice-a4fbipjm-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
DATABASE_USERNAME=neondb_owner
DATABASE_PASSWORD=npg_qVxl3ehtZD1d

PORT=8888

# Minio Configuration

MINIO_PROJECT_NAME=internship-management
MINIO_USERNAME=minio_username
MINIO_PASSWORD=minio_password
MINIO_WEB_URL=http://localhost:9001